<div class="entry-text">
  <%= @entry.text %>
</div>

<hr class="faded">

<% if current_user %>
    <div class="entry-submission">
      <%
        guidance = 'Continue the story with one new sentence.'
        if @entry.story.wrapping?
          guidance += 'This is the final sentence in this story path! Try to wrap it up as best you can.'
        end
      %>
      <%= render 'form', guidance: guidance %>
    </div>
<% else %>
  <div class="call-to-login">
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %> first!
  </div>
<% end %>
