
<div class="top-block">
  <span class="display-name">
    <%= @user.display_name %>
  </span>
  <span class="edit-link">
    <%= link_to "Edit Info", edit_user_path(@user) %>
</div>

<h2>Stories Contributed To</h2>
<div id="contributed-stories">
  <% @user.entries.each do |e| %>
    <div class="user-profile-entry">
      <p class="entry-text"><%= e.text %></p>
      <div class="story-link">
        <%= link_to "View Story", entry_path(e) %>
      </span>
    </div>
  <% end %>
</div>

