<div class="explainer">
  <h2>What the Heck?</h2>
  <p>
    Narratron is a project by <a href="http://twitter.com/ckolderup">Casey Kolderup</a>
    with contributions by <a href="http://twitter.com/johnholdun">John Holdun</a> and
    assistance from the whole community of friends and writers on the site.
  </p>
  <p>
    The site's code is open-sourced and available for perusal/download/pull requests
    on <a href="http://github.com/ckolderup/narratron">Github</a>.
  </p>
  <p>
    Narratron is most definitely a work in progress. Questions? Concerns? Feel free
    to <a href="mailto:ckolderup@gmail.com">email Casey</a>.
  </p>
</div>
