<div class="explainer">
  <h2>Time to make the stories.</h2>
  <p>Narratron is a web-based implementation of the <a href="http://en.wikipedia.org/wiki/Exquisite_corpse">Exquisite Corpse</a> technique for writing stories. Find a story, either by checking out <%= link_to "today&rsquo;s public story".html_safe, today_path %> or by being linked to it by a group participating in making their own, and you&rsquo;ll be shown one of the most recent sentences written in that story&mdash;but nothing before that.</p>
  <p>Try to figure out what sentence should come next, send that in, and then follow the story along as it goes. Together we&rsquo;ll make something weird and wonderful.</p>
</div>
