/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font: 14px sans-serif;
}

a {
  color: #008;
}

a:visited {
  color: #333;
}

#banner {
  margin: 5px auto 5px 10px;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

#tag {
  font-size: 14px;
  margin-top: 3px;
}

#title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
}

#footer {
  width: 600px;
  text-align: center;
  margin: 20px auto 5px auto;
}


#notifications {
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

#content {
  margin: 80px auto;
}

