@import "_mixins";

#content {
  max-width: 500px;
  margin: 5px auto 20px;
}

.guidance {
  color: #999;
  font-size: 13px;
  margin: 5px auto;
}

.wat {
  color: #999;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

.story-credits {
  color: #555;
  margin-left: auto;
  margin-right: auto;
}

.entry-text {
  @include literary;
  margin-left: 5px;
}

.hidden-entry {
  @include redacted;
  margin-left: 5px;
  margin-right: -10px;
}

.entry-submission {
  margin: 5px auto 20px;

  #entry_text {
    @include literary;
    padding: 0;
    min-height: 60px;
    border: 0;
    resize: none;
  }

  #entry_text:focus {
    background: none;
  }
}

.call-to-login {
  color: #555;
  margin: 5px auto 20px auto;
}

.yours {
  font-weight: bold;
}
