@import "_mixins";

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 20px 20px;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  color: #800000;
  text-decoration: none;

  &:hover {
    color: #fd7d83;
    text-decoration: underline;
  }
}

#banner {
  @include literary;
  background: #800000;
  color: #fff;
  overflow: hidden;
  margin: 0 -20px 20px;
  padding: 20px;
  font-size: 16px;
}

#title {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  float: left;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.nav {
  list-style: none;
  line-height: 40px;
  margin: 0 auto;
  max-width: 500px;

  #banner & {
      color: #fd7d83;
  }

  li {
    list-style: none;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px;
  }

  a {
    display: block;

    #banner & {
      color: inherit;
    }
  }
}

.nav .admin {
  background: #C02020;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.nav .admin :first-of-type {
}

#tag {
  line-height: 40px;
  margin: 0;
  float: right;
}

#footer {
  text-align: center;
  margin: auto 5px;
}

#user-actions {
  white-space: nowrap;
}

#notifications {
  margin: 0px auto;
  text-align: center;
  line-height: 2em;
  font-size: 18px;
}

#content {
  margin: 30px auto;
}

.pagination {
  text-align: center;
  margin-top: 50px;
}

#flash_message {
  background-color: #B0E629;
}

#flash_warning {
  background-color: #FCE70D;
}

#flash_error {
  background-color: #FA7C07;
}

label, input[type='text'], input[type='email'], input[type='password'], textarea, select, input[type='submit'], button {
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  font: inherit;
  line-height: 1.5em;
  min-height: 1.5em;
}

input[type='text'], input[type='email'], input[type='password'], textarea, select, input[type='submit'], button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 9px;
  width: 100%;

  &:focus {
    outline: 0;
    background: #eef;
    border-color: #ddd;
  }
}

input[type='submit'], button {
  border-color: #999;
  background: #ccc;
  cursor: pointer;

  &:hover, &:focus {
    border-color: #ccc;
    background: #ddd; 
  }
}

hr.faded {
  clear: both; 
  float: none; 
  height: 1px;
  margin: 5px 0 5px;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}

@media screen and (max-width: 500px) {
  #banner {
    padding: 10px 20px;
  }

  .nav {
    clear: both;
  }
}
