// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-text {
  font: 20px "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  margin: 5px auto 20px auto;
  width: 475px;
  text-align: justify;
  line-height: 22px;
}
