@import "_mixins";

h1 {
  @include literary(32px);
  font-weight: bold;
}

h2 {
  @include literary(28px);
}

#contributed-stories {
  blockquote.user-profile-entry {
    @include literary;
    padding: 0;
    margin: 0;
  }

  .story-link {
    overflow: hidden;

    a {
      float: right;
    }
  }
}
